<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @volunteer.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @volunteer.type_of_opportunity %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @volunteer.company_name %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @volunteer.closing_date %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @volunteer.starting_date %>
</p>

<p>
  <strong>Description text:</strong>
  <%= @volunteer.description_text %>
</p>

<p>
  <strong>Location:</strong>
  <%= @volunteer.location %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @volunteer.confirmed %>
</p>

<% if current_user == @volunteer.user %>
  <h3>Applications: </h3>
  <% @volunteer.comments.each do |comment| %>
    <div class="well">
      <%= comment.body %> <br>
      <%= comment.user %> <br>
    </div>

  <% end %>
<% end %>

<h3>New Application:</h3>
<%= form_for [@volunteer, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "Add an application" %>
  </div>
  <%= f.submit  class: "btn btn-primary", value: "Submit Application" %>
<% end %>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
