<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<div class="media">
  <div class="media-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Desciption</th>
            <th>Post</th>
            <th>User</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td><%= article.title %></td>
              <td><%= article.desciption %></td>
              <td><%= article.post %></td>
              <td><%= article.user_id %></td>
              <td><%= link_to 'Show', article, class: 'btn btn-mini' %></td>
              <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-mini btn-success' %></td>
              <td><%= link_to 'Destroy', article, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>

<br>

<%= link_to 'New Article', new_article_path %>
