<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @competition.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @competition.type_of_opportunity %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @competition.company_name %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @competition.closing_date %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @competition.starting_date %>
</p>

<p>
  <strong>Description text:</strong>
  <%= @competition.description_text %>
</p>

<p>
  <strong>Location:</strong>
  <%= @competition.location %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @competition.confirmed %>
</p>
<% if current_user == @competition.user %>
  <h3>Applications: </h3>
  <% @competition.comments.each do |comment| %>
    <div class="well">
      <%= comment.body %> <br>
      <%= comment.user %> <br>
    </div>

  <% end %>
<% end %>

<h3>New Application:</h3>
<%= form_for [@competition, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "Add a application" %>
  </div>
  <%= f.submit  class: "btn btn-primary", value: "Submit Application" %>
<% end %>

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
