<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <!--
      <th>Type Of Opportunity</
      <!--
      <th>Starting date</th>
      -->
      <th>Company name</th>
      <th>Closing date</th>
      <th>Description</th>
      <th>Location</th>
      <!--
      <th>Confirmed</th>
      <th>Fulltime</th>
      <th>Paid</th>
      <th>Salary</th>
      -->
      
      <th colspan="2"></th>
      
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <!--
        <td><%= job.type_of_opportunity %></td>
        -->
        <td><%= job.company_name %></td>
        <td><%= job.closing_date %></td>
        <!--
        <td><%= job.starting_date %></td>
        -->
        <td><%= job.description_text %></td>
        <td><%= job.location %></td>
        <!--
        <td><%= job.confirmed %></td>
        <td><%= job.fulltime %></td>
        <td><%= job.paid %></td>
        <td><%= job.salary %></td>
        -->
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
