<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @job.type_of_opportunity %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @job.company_name %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @job.closing_date %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @job.starting_date %>
</p>

<p>
  <strong>Description text:</strong>
  <%= @job.description_text %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @job.confirmed %>
</p>

<p>
  <strong>Fulltime:</strong>
  <%= @job.fulltime %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @job.paid %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<% if current_user == @job.user %>
  <h3>Applications: </h3>
  <% @job.comments.each do |comment| %>
    <div class="well">
      <%= comment.body %> <br>
      <%= comment.user %> <br>
    </div>

  <% end %>
<% end %>

<h3>New Application:</h3>
<%= form_for [@job, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "Add an application" %>
  </div>
  <%= f.submit  class: "btn btn-primary", value: "Submit Application" %>
<% end %>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', jobs_path %>
