<!--<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>-->
<div class="jumbotron">
	<div class="container">
			<h1><%= image_tag('logo-with-text2.png')%></h1>
	</div>
</div>
<style>
.row img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.row h2 {
	text-align: center;
}
.row a {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
</style>
<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-3">
			<h2>Internships</h2>
			<p><%= link_to image_tag('internship_icon_big.png'), internships_path%></p>
			<%= link_to "Internships", internships_path, :class =>'btn btn-default' %>
		</div>
		<div class="col-md-3">
			<h2>Jobs</h2>
			<p><%= link_to image_tag('job-icon_big.png'), jobs_path%></p>
			<%= link_to "Jobs", jobs_path, :class =>'btn btn-default' %>
		</div>
		<div class="col-md-3">
			<h2>Volunteers</h2>
			<p><%= link_to image_tag('volunteer_big'), volunteers_path%></p>
			<%= link_to "Volunteer", volunteers_path, :class =>'btn btn-default' %>
		</div>
		<div class="col-md-3">
			<h2>Competitions</h2>
			<p><%= link_to image_tag('Trophy-icon_big.png'), competitions_path%></p>
			<%= link_to "Competitions", competitions_path, :class =>'btn btn-default' %>
		</div>
	</div>

	<hr>

	<footer>
		<p>&copy; 2016 SoPpN Inc.</p>
	</footer>
</div>
