	<style type="text/css">
	
	.form-signin {
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
	}
	.form-signin h2 {
		text-align: center;
	}
	.form-signin .form-signin-heading,
	.form-signin .checkbox {
		margin-bottom: 10px;
	}
	.form-signin .checkbox {
		font-weight: normal;
	}
	.form-signin .form-control {
		position: relative;
		height: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
	}
	.form-signin .form-control:focus {
		z-index: 2;
	}
	.form-signin input[type="email"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.form-signin input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		}
	.add-margin {
		margin: 20px;
	}
	</style>
		<div class="add-margin">
			<div class="form-signin well">
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<h2 class="form-signin-heading">Please Sign In</h2>
				<div class="field">
	    			<%= f.email_field :email, :autofocus => true, :placeholder => 'Email address',:class =>'form-control' %>
	  			</div>
				<div class="field">
	    			<%= f.password_field :password, :placeholder => 'Password',:class =>'form-control'%>
	  			</div>
				<div class="checkbox">
					<% if devise_mapping.rememberable? -%>
	    				<div class="field">
	      					<%= f.check_box :remember_me %>
	      					<%= f.label :remember_me %>
	    				</div>
	  				<% end -%>
				</div>
				<div class="actions">
	    			<%= f.submit "Sign in",:class=>'btn btn-lg btn-primary btn-block' %>
	  			</div>

				<%= render "devise/shared/links" %>
			</div>
		</div>
  
<% end %>

