<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @internship.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @internship.type_of_opportunity %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @internship.company_name %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @internship.closing_date %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @internship.starting_date %>
</p>

<p>
  <strong>Description text:</strong>
  <%= @internship.description_text %>
</p>

<p>
  <strong>Location:</strong>
  <%= @internship.location %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @internship.confirmed %>
</p>

<p>
  <strong>Fulltime:</strong>
  <%= @internship.fulltime %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @internship.paid %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @internship.salary %>
</p>

<p>
  <strong>User id:</strong>
  <%= @internship.user_id %>
</p>

<% if current_user == @internship.user %>
  <h3>Applications: </h3>
  <% @internship.comments.each do |comment| %>
    <div class="well">
      <%= comment.body %> <br>
      <%= comment.user %> <br>
    </div>
  <% end %>
<% end %>

<h3>New Application:</h3>
<%= form_for [@internship, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "Add an application" %>
  </div>
  <%= f.submit  class: "btn btn-primary", value: "Submit Application" %>
<% end %>

<%= link_to 'Edit', edit_internship_path(@internship) %> |
<%= link_to 'Back', internships_path %>
